<ion-content>
  <ion-button class="clear-button" fill="clear" (click)="goBack()">
    <ion-icon name="arrow-back-sharp" class="white-icon"></ion-icon>
  </ion-button>
  <div class="content-wrapper">
    <h3 class="heading">ABOUT</h3>
    <p>
      The application was dedicated for the Banaba Health Care Center which
      provides community health services for the residence within the area. A
      community-based health center organizations that provide accessible health
      care services to individuals and families.
    </p>
    <h3 class="heading">LOCATION</h3>
    <p>Banaba Center, Batangas City</p>
    <h3 class="heading">PURPOSE</h3>
    <p>
      The developers wants to contribute on the community health service by
      providing an application for patient medication monitoring.
    </p>
    <h3 class="heading">CONTACT US</h3>
    <p>
      Phone No: 09140685221 <br />
      Email: bhcc@gmail.com
    </p>
  </div>
  <ion-button class="custom-button" (click)="goForwardev()">
    <ion-icon slot="end" name="people-circle-sharp"></ion-icon>
  </ion-button>
</ion-content>
