<ion-content class="custom-background">
  <ion-header class="custom-header"
    ><ion-title>Developers</ion-title>
    <ion-button
      class="clear-button top-left-button"
      fill="clear"
      (click)="goBackd()"
    >
      <ion-icon
        name="arrow-back-sharp"
        class="white-icon"
      ></ion-icon> </ion-button
  ></ion-header>
  <ion-card class="custom-card-background">
    <ion-card-content>
      <ion-list class="avatar-middle">
        <ion-avatar slot="start" class="avatar-top">
          <img src="../../assets/images/21.jpg" alt="Developer Image" />
        </ion-avatar>
        <ion-card class="background-back">
          <ion-item>
            <ion-label class="text-center">
              <h3>Luengas, Paul Angelo B.</h3>
              <span class="text">Programmer</span>
            </ion-label>
          </ion-item>
        </ion-card>

        <ion-avatar slot="start" class="avatar-top">
          <img src="../../assets/images/jeckson.jpg" alt="Developer Image" />
        </ion-avatar>
        <ion-card class="background-back">
          <ion-item>
            <ion-label class="text-center">
              <h3>Marasigan, Jack-Son</h3>
              <span class="text">Project Manager</span>
            </ion-label>
          </ion-item>
        </ion-card>

        <ion-avatar slot="start" class="avatar-top">
          <img src="../../assets/images/jake.png" alt="Developer Image" />
        </ion-avatar>
        <ion-card class="background-back">
          <ion-item>
            <ion-label class="text-center">
              <h3>Almarez, Jake</h3>
              <span class="text">Researcher</span>
            </ion-label>
          </ion-item>
        </ion-card>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
