<ion-content class="centered-content">
  <ion-button class="clear-button" fill="clear" (click)="goBack()">
    <ion-icon name="arrow-back-sharp" class="white-icon"></ion-icon>
  </ion-button>
  <div class="centered-container">
    <ion-button class="small-button" (click)="logout()">
      <ion-icon slot="end" name="settings"></ion-icon>
      Logout
    </ion-button>
  </div>
  <div class="container">
    <div class="info">
      <h3 class="heading">About this app:</h3>
      <p class="justified">
        The application was dedicated for the Banaba Health Care Center which
        provides community health services for the residence within the area. A
        community-based health center organizations that provide accessible
        health care services to individuals and families.
      </p>
    </div>

    <div class="info">
      <h3 class="heading">Updated on:</h3>
      <p>09 July 2023</p>
      <h3 class="heading">Download:</h3>
      <p>2Gb</p>
      <h3 class="heading">Required OS:</h3>
      <p>Android 4.4 and up</p>
      <h3 class="heading">Offered by:</h3>
      <p>JJP Limited.</p>
    </div>

    <div class="info">
      <h3 class="heading">Released on:</h3>
      <p>09 July 2023</p>
      <h3 class="heading">Location:</h3>
      <p>Banaba Center Batangas City</p>
      <h3 class="heading">CONTACT US</h3>
      <p>
        Phone No: 09140685221 <br />
        Email: bhcc@gmail.com
      </p>
    </div>
  </div>
</ion-content>
